:root {
    --base-color: #171821;
    --secondary-color: #2c2a44;
    --base-text-color: #fff;
    --base-text-error-color: #d15656;
    --base-line-color: #435dee49;
    --base-line-color-2: #ffffff31;
    --topbar-height: 70px;
    --base-title-color: #a0a0a0;
}