{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SetorStyle{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vars.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/scrollbar.css" %}">
    <link rel="stylesheet" href="{% static "css/popup.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static "bootstrap/js/jquery.min.js" %}"></script>
</head>
<body class="base-color d-flex flex-column">
    <div id="loading" class="loading-container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/logo.png' %}" alt="">
            <h3 class="text-color-default"> Carregando... </h3>
        </div>
    </div>
    <div class="d-flex flex-column h-vh-full">
        {% include "components/topbar.html" %}
        {% include "components/sidebar.html" %}
        <div id="content-container" class="d-flex flex-column justify-content-between">
            <div class="btn-toggle-sidebar" type="button">
                <i class="fas fa-bars text-color-default"></i>
            </div>
            <div class="container-content d-flex flex-column" style="">
            </div>
            {% include "components/footer.html" %}
        </div>
    </div>
    <div id="custom-popup" class="popup" style="display: none;">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2 id="popup-title" class="popup-title"></h2>
            <p id="popup-message" class="popup-message"></p>
            <div id="popup-buttons" class="popup-buttons"></div>
        </div>
    </div>
</body>
<script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/popUp.js" %}"></script>
<script src="{% static "js/load-content.js" %}"></script>
</html>