<footer>
    <div class="up-footer-container">
        <div class="col">
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
        </div>
        
        <div class="col">
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
        </div>
        
        <div class="col">
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
            <p>Esse é o footer</p>
        </div>
    </div>
    
    <div class="down-line text-color-default">
        <p>Esse é o footer e todos os direitos</p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--secondary-color);
        width: 100%;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }
    
    .up-footer-container {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    
    .down-line {
        display: flex;
        justify-content: center;
    }
    
    .col > p {
        color: var(--base-text-color);
    }
    .col {
        text-align: center;
    }
</style>

<script>
    
</script>