{% load static %}

<div id="nav-container" class="sidebar-container visible">
    <nav class="d-flex flex-column px-4">
        <div class="logo-container sidebar redirect-component" data-url="/">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="SetorStyle logo"><p class="logo-name">SetorStyle</p>
        </div>
        <div class="btn-sidebar redirect-component-sidebar" data-url='/sector/'>
            <i class="fas fa-home"></i> Setor
        </div>
        <div class="btn-sidebar redirect-component-sidebar" data-url='/sector/add/'>
            <i class="fas fa-user"></i> Setor add
        </div>
        <div class="btn-sidebar redirect-component-sidebar" data-url='/sector/list/'>
            <i class="fab fa-twitter"></i> Setor list
        </div>
        <div class="btn-sidebar redirect-component-sidebar" data-url='/sector/1/'>
            <i class="fab fa-twitter"></i> Setor 1
        </div>
        <div class="btn-sidebar redirect-component-sidebar" data-url='/sector/2/'>
            <i class="fab fa-twitter"></i> Setor 2
        </div>
    </nav>
</div>

<style>
    .sidebar-container {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: var(--base-color);
        transition: left 0.3s ease;
        z-index: 1000;
        border-right: solid 1px var(--base-line-color);
    }

    .hidden {
        display: none;
    }

    .visible {
        left: 0;
    }
    
    .active {
        color: var(--base-color) !important;
        background-color: #73cabe;
    }
    .active:hover {
        background-color: #9fd4cd !important;
    }

    .btn-sidebar {
        width: 100%;
        padding: 15px;
        text-align: left;
        color: rgb(141, 141, 141);
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 12px;
        transition: 0.3s;
        cursor: pointer;
    }
    .btn-sidebar > a {
        color: rgb(141, 141, 141);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .btn-sidebar:hover {
        background-color: rgba(255, 255, 255, 0.082);
    }
    
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .logo-name {
        margin: 0 !important;
        font-size: 25px;
        color: antiquewhite;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .logo-container.sidebar {
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--base-line-color);
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .logo-container {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }
    
    .btn-toggle-sidebar {
        position: fixed;
        margin: 21px;
        top: 0;
    }
</style>

<script>
    $(document).ready(function () {
        $('.btn-toggle-sidebar').click(function () {
            const $navContainer = $('#nav-container');
            const $contentContainer = $('#content-container');

            if ($navContainer.hasClass('hidden')) {
                $navContainer.removeClass('hidden');

                setTimeout(function () {
                    $navContainer.addClass('visible');
                    $contentContainer.css('margin-left', '250px');
                }, 10);
            } else {
                $navContainer.removeClass('visible');
                $contentContainer.css('margin-left', '0');

                setTimeout(function () {
                    $navContainer.addClass('hidden');
                }, 300);
            }
        });
        
        $(".redirect-component-sidebar").click(function () {
            $('.btn-sidebar').removeClass('active');
            this.classList.add('active');
            loadContent($(this).attr('data-url'));
        });
        
        let path = window.location.pathname;
        if (!path.endsWith("/")) path += "/";
        
        $(".redirect-component-sidebar").each(function () {
            if ($(this).attr('data-url') === path) {
                $('.btn-sidebar').removeClass('active');
                this.classList.add('active');
            }
        });
    });
    
</script>